
.main-nav {
    display: flex;
    background: white;

}

.main-nav li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding: 2px;
    font-size: 23px;
   
}

.main-nav a {
    margin: 10px;
    background: #f9faf9;
    text-decoration: none;
    color: inherit;
    text-align: left;
    width: 1010px;
}

.main-nav a:hover {
    border-color: red;
    border-bottom-style: solid;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}


.dropdown {
    position: relative;
    display: inline-block;
    font-size: 23px;
    
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(228, 220, 220);
    min-width: 160px;
    padding: 12px 16px;
    z-index: inherit;
    font-size: 23px;
   
}

.dropdown:hover .dropdown-content {
    display: flex;
}
